<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.peopleinvest.mapper.AreaMapper" >
  <resultMap id="BaseResultMap" type="cn.peopleinvest.model.Area" >
    <constructor >
      <idArg column="area_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="area_type" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="area_spell" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    area_name, area_type, area_spell
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from area
    where area_name like concat('%',#{areaName,jdbcType=VARCHAR},'%')
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from area
    where area_name = #{areaName,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.peopleinvest.model.Area" >
    insert into area (area_name, area_type, area_spell
      )
    values (#{areaName,jdbcType=VARCHAR}, #{areaType,jdbcType=INTEGER}, #{areaSpell,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.peopleinvest.model.Area" >
    insert into area
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="areaName != null" >
        area_name,
      </if>
      <if test="areaType != null" >
        area_type,
      </if>
      <if test="areaSpell != null" >
        area_spell,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="areaName != null" >
        #{areaName,jdbcType=VARCHAR},
      </if>
      <if test="areaType != null" >
        #{areaType,jdbcType=INTEGER},
      </if>
      <if test="areaSpell != null" >
        #{areaSpell,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.peopleinvest.model.Area" >
    update area
    <set >
      <if test="areaType != null" >
        area_type = #{areaType,jdbcType=INTEGER},
      </if>
      <if test="areaSpell != null" >
        area_spell = #{areaSpell,jdbcType=VARCHAR},
      </if>
    </set>
    where area_name = #{areaName,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.peopleinvest.model.Area" >
    update area
    set area_type = #{areaType,jdbcType=INTEGER},
      area_spell = #{areaSpell,jdbcType=VARCHAR}
    where area_name = #{areaName,jdbcType=VARCHAR}
  </update>
</mapper>